label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 20px;
}

.post + .post {
    margin-top: 15px;
}

.post-header {
    position: relative;
    border-bottom: 1px solid #999;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.post-content {
    margin-top: 5px;
}

.post-footer {
    color: #999;
}

.post + .comment {
    margin-top: 15px;
}

.comment {
    margin-left: 20px;
}

.comment + .comment {
    margin-top: 10px;
}

.comment-header {
    position: relative;
    border-bottom: 1px solid #999;
}

.comment-content {
    margin-top: 5px;
}

.comment-footer {
  color: #999;
}

.delete-text {
  color: #999;
  margin-left: 20px;
  margin-bottom: 20px;
}