{% extends "base.html" %} {% block content %}
<!-- Sidebar -->
<div class="container">
    <div class="col-md-3 col-lg-3 hidden-xs hidden-sm" role="complementary" style="margin-top: 20px;">
        <div class="bs-docs-sidebar center-block">
            <img class="img-circle center-block" src="static/img/201405_small.jpg" alt="Chase Lyall" style="width: 140px; height: 140px;" align="middle">
            <h1 class="text-center">Chase Lyall</h1>
            <ul class="nav text-center">
                <li>Accenture Federal Services</li>
                <li>San Francisco Bay Area</li>
            </ul>
            <nav>
                <ul class="nav bs-docs-sidenav">
                    <li><a href="#education">Education</a>
                    </li>
                    <li><a href="#work-experience">Work Experience</a>
                    </li>
                    <li><a href="#skills">Skills</a>
                    </li>
                    <li><a href="#leadership">Leadership</a>
                    </li>
                    <li><a href="#activities">Activities</a>
                    </li>
                    <li><a href="#awards-distinctions">Awards & Distinctions</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-sm-12 hidden-md hidden-lg" role="complementary">
        <div class="center-block affix-top">
            <img class="img-circle center-block" src="static/img/201405_small.jpg" alt="Chase Lyall" style="width: 140px; height: 140px;" align="middle">
            <h1 class="text-center">Chase Lyall</h1>
            <ul class="nav text-center">
                <li>Accenture Federal Services</li>
                <li>San Francisco Bay Area</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-9 col-lg-9">
        <div>
            <h2 id="education" class="sub-header">Education</h2>
            <table width="100%">
                <tr style="vertical-align: text-top">
                    <td>M.S.</td>
                    <td><strong>Johns Hopkins University</strong>
                    </td>
                    <td align="right">May 2013</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>Engineering Management</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>GPA: 3.88</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr style="vertical-align: text-top">
                    <td>B.S.</td>
                    <td><strong>University of California, Los Angeles</strong>
                    </td>
                    <td align="right">Jun 2012</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>Bioengineering</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>GPA: 3.38</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
        <div>
            <h2 id="work-experience" class="sub-header">Work Experience</h2>
            <p><strong>Accenture Federal Services</strong>
                <span style="float:right">Jun 2013 - Present</span>
                <br>Business & Technology Consultant
                <br>
                <i>San Francisco, CA</i>
                <br>
                <ul>
                    <li>Lead the performance tuning team of a large (150 TB) USPS Oracle database</li>
                    <li>Database drives significant revenue retention for the client by processing >1 billion mail scans per day</li>
                    <li>Translate business requirements to technical requirements with help of multidisciplinary team</li>
                    <li>Organize and orchestrate performance and operations testing efforts</li>
                    <li>Redesigned reporting system to improve bottleneck visibility</li>
                    <li>Automated/streamlined several work processes and testing efforts, reducing team size</li>
                    <li>Led shakeout and performance testing of the database upgrade from Oracle 11g to 12c</li>
                </ul>
                <p><strong>Department of Bioengineering, UCLA</strong>
                    <span style="float:right">Jun 2011 - Jun 2012</span>
                    <br>Undergraduate Research Associate | P.I.: Dr. James Dunn
                    <br>
                    <i>Los Angeles, CA</i>
                    <br>
                    <ul>
                        <li><a href="http://www.worldscientific.com/doi/abs/10.1142/S2339547816400033">Collagen and heparan sulfate coatings differentially alter cell proliferation and attachment in vitro and in vivo</a>. Christopher M. Walthers, Chase J.
                            Lyall, Alireza K. Nazemi, Puneet V. Rana, and James C.Y. Dunn. TECHNOLOGY (doi: 10.1142/S2339547816400033)</li>
                    </ul>
                    <p><strong>Eastdil Secured</strong>
                        <span style="float:right">Jun 2010 - Jun 2011</span>
                        <br>Information Technology Intern
                        <br>
                        <i>Santa Monica, CA</i>
                        <br>
                        <ul>
                            <li>Provided direct customer assistance for a cloud-based document sharing portal</li>
                            <li>Wrote property and financing email teasers in HTML</li>
                            <li>Updated company intranet using Visual Basic</li>
                        </ul>
        </div>
        <div>
            <h2 id="skills" class="sub-header">Skills</h2>
            <table width="100%">
                <tr>
                    <td colspan="3"><strong>Computer Programming</strong>
                    </td>
                </tr>
                <tr style="vertical-align: text-top">
                    <td width="40px">&nbsp;</td>
                    <td width="80px"><em>Advanced</em>
                    </td>
                    <td>SQL, Oracle 12c Performance Tuning</td>
                </tr>
                <tr style="vertical-align: text-top">
                    <td width="40px">&nbsp;</td>
                    <td width="80px"><em>Proficient</em>
                    </td>
                    <td>PL/SQL, HTML</td>
                </tr>
                <tr style="vertical-align: text-top">
                    <td width="40px">&nbsp;</td>
                    <td width="80px"><em>Novice</em>
                    </td>
                    <td>Java, Python, Unix, Amazon Web Services</td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3"><strong>Systems Integration</strong>
                    </td>
                </tr>
                <tr style="vertical-align: text-top">
                    <td width="40px">&nbsp;</td>
                    <td width="80px"><em>Proficient</em>
                    </td>
                    <td>Agile, Scrum, Requirements Analysis/Development, Use Case/User Story Development</td>
                </tr>
                <tr style="vertical-align: text-top">
                    <td width="40px">&nbsp;</td>
                    <td width="80px"><em>Novice</em>
                    </td>
                    <td>Process Analysis and Modeling/Design, Functional Design, Database Design</td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3"><strong>Business Implementation</strong>
                    </td>
                </tr>
                <tr style="vertical-align: text-top">
                    <td width="40px">&nbsp;</td>
                    <td width="80px"><em>Novice</em>
                    </td>
                    <td>Business Process Design, Change Enablement, Customer Relationship Development, Project Management, Proposal Development</td>
            </table>
        </div>
        <div>
            <h2 id="leadership" class="sub-header">Leadership</h2>
            <p><strong>Johns Hopkins University Recruitment</strong> | Accenture
                <span style="float:right">Sep 2013 - Jan 2015</span>
                <br>Center for Leadership Education Recruitment Lead
                <br>
                <ul>
                    <li>Directed Accenture recruitment efforts at the JHU Center for Leadership Education</li>
                    <li>Led Accenture informational presentations on campus</li>
                </ul>
                <p><strong>DC Analyst Action Team</strong> | Accenture
                    <span style="float:right">Sep 2013 - Jan 2015</span>
                    <br>Community Service Co-Lead
                    <br>
                    <ul>
                        <li>Led a team of ten analysts in planning and executing monthly volunteer events</li>
                        <li>Organized mock interview and job transfer assistance workshops for DC homeless</li>
                    </ul>
                    <p><strong>Hopkins Biotech Network</strong> | Johns Hopkins University
                        <span style="float:right">Nov 2012 - May 2013</span>
                        <br>Director of Events and Marketing
                        <br>
                        <ul>
                            <li>Coordinated monthly informational, networking, & etiquette events for JHU students</li>
                        </ul>
        </div>
        <div>
            <h2 id="activities" class="sub-header">Activities</h2>
            <p><strong>Bay to Breakers Volunteer Lead</strong> | Accenture
                <span style="float:right">Mar 2016 - May 2016</span>
                <br>&emsp;&emsp;&emsp;Led 50 Accenture volunteers over three days at the 2016 Bay to Breakers 12k
                <br>
                <p><strong>Ronald Reagan Medical Center Volunteer</strong> | UCLA
                    <span style="float:right">Sep 2011 - Jun 2012</span>
                    <br>&emsp;&emsp;&emsp;Patient escort volunteer: 100+ hours transporting patients and observing procedures
                    <br>
                    <p><strong>New Salvation Ministries Volunteer</strong> | Skid Row, Los Angeles, CA
                        <span style="float:right">Sep 2010 - Jun 2012</span>
                        <br>&emsp;&emsp;&emsp;Organized and distributed food monthly to homeless at the Union Rescue Mission
                        <br>
                        <p><strong>Campus Crusade for Christ</strong> | UCLA
                            <span style="float:right">Sep 2010 - Jun 2012</span>
                            <br>&emsp;&emsp;&emsp;Participated weekly in Real Life Meetings, Bible study, and helped lead Safe Rides
                            <br>
                            <p><strong>Biomedical Engineering Society</strong> | UCLA
                                <span style="float:right">Sep 2008 - Jun 2012</span>
                                <br>&emsp;&emsp;&emsp;Participated in networking, informational, and social events
                                <br>
                                <p><strong>Sigma Chi Fraternity, Delta Eta Chapter</strong> | UCLA
                                    <span style="float:right">Sep 2008 - Jun 2012</span>
                                    <br>&emsp;&emsp;&emsp;Participated in brotherhood events, including philanthropic and recruitment events
                                    <br>
                                    <p><strong>Eagle Scout</strong> | Troop 543, Orange, CA
                                        <span style="float:right">Aug 2003 - Jun 2008</span>
                                        <br>&emsp;&emsp;&emsp;Project: Refurbished a section of Santiago Oaks Regional Park that burned in a wildfire
                                        <br>
        </div>
        <div>
            <h2 id="awards-distinctions" class="sub-header">Awards & Distinctions</h2>
            <p><strong>W.S.E. Deans Tuition Fellowship</strong> | Johns Hopkins University
                <br>&emsp;&emsp;&emsp;$25,000 given to applicants demonstrating a strong penchant for engineering
                <br>
                <p><strong>Undergraduate Research Fellows Program</strong> | University of California, Los Angeles
                    <br>&emsp;&emsp;&emsp;$2,000 given to support students excelling in undergraduate research
                    <br>
        </div>
    </div>
</div>
{% endblock %}
